@font-face {
    font-family: 'font1';
    src: url("../fonts/font1.ttf") format("truetype");
    font-family: 'font2';
    src: url("../fonts/font2.ttf") format("truetype");
}

/*.footer-img {
    outline: 2px solid red !important;
}

.footer-container {
    outline: 2px solid blue !important;
}*/

.vans {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; 
    margin-top: 230px;
}

.vans img {
    display: block;
    width: 200px;
    height: 200px; 
}

.footer {
    background-color: #1a1a1a;

    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu {
    flex: 1;
}

.menu-title {
    font-family: 'font2', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 50px 0 0 50px;
}

.text-menu {
    font-family: 'font1', sans-serif;
    color: #999;
    font-size: 14px;
    line-height: 3;
    padding-left: 50px;
}

.text-menu a {
    font-family: 'font1', sans-serif;
    color: #999;
    font-size: 14px;
    line-height: 3;
    text-decoration: none;
}

.footer-icons {
    display: flex;
    gap: 10px;
    font-size: 24px;
}

.footer-icons a {
    display: flex;
    gap: 10px;
    font-size: 24px;
}

.footer-img {
    margin-right: 100px;
    width: 300px;
    display: flex;
}

.footer-img img {
    height: 400px;
    width: 300px;
}