* {
    margin: 0;
    padding: 0;
}

/*.boot {
    outline: 2px solid red !important;
}

.catalog-container {
    outline: 2px solid blue !important;
}

.main-catalog {
    outline: 2px solid green !important;
}

.text{
    outline: 2px solid green !important;
}

.catalog-image {
    outline: 2px solid orange !important;
}
.scroll {
    outline: 2px solid orange !important;
}*/

@font-face {
    font-family: 'font1';
    src: url("../fonts/font1.ttf") format("truetype");
    font-family: 'font2';
    src: url("../fonts/font2.ttf") format("truetype");
}

.main {
    width: 100%;
    height: auto;
}

.main-container {
    display: flex;
    align-items: center;
    background: #ff7cbd;       
    justify-content: space-between; 
    border-bottom: 2px solid black;
}

/* Слоган */
.title {
    font-family: 'font2', sans-serif;
    font-size: 90px;
    padding: 100px 0 100px 300px;
    flex: 1;                    
}


.titlw-photo {       
    display: flex;
    justify-content: flex-end;
}

.titlw-photo img {
    width: 100%;
    height: auto;
    max-width: 600px;
    display: block;
}

.boot {
    display: flex;
    justify-content: flex-end;
}

.boot img{
    width: 200px;    
    height: 100px;
    margin-right: 160px;
    margin-top: 40px;
}

/* Каталог */
.catalog-container {
    width: 100%;
    height: auto;
}

.main-catalog {
    display: flex;
    flex-direction: column;
    height: 630px;
    width: 80vw;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 auto 0 auto;
}

.catalog-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.catalog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}

.catalog-image:hover img {
    transform: scale(1.1);      
}

.catalog-line {
    width: 100%;
    height: 2px;
    background-color: black;
}

.catalog-button {
    padding: 30px;
    text-align: left;
}

.btn-catalog {
    font-family: 'font1', sans-serif;
    color: black;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 9px 20px;
    display: inline-block;
}

.btn-catalog:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px black;
}

/* Новинки*/
.new {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    min-height: 200px;
    position: relative;
}

.text {
    width: 200px;
    font-family: 'font2', sans-serif;
    font-size: 60px;
    margin-top: 200px;
    margin-left: 60px;
}
.glass{
    margin-right: 100px;
}


.glass img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
}

/* Cкролл */
#scroll-section {
    scroll-margin-top: 230px;
}

.scroll {
    position: relative;
    margin-top: 10px;
}

.left, .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;                  
    color: black;                 
    cursor: pointer;
    font-size: 60px;                 
    z-index: 10;
}

.left {
    left: 20px;
}

.right {
    right: 20px;
}

.scroll-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.group {
    display: flex;
    width: max-content;
    gap: 20px;
    padding: 20px;
}

.card {
    position: relative;
    width: 30vw;
    height: 30vh;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.card::before {
    content: '';
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 40px;
    background: #ff6ab5;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    border: 2px solid black;
    border-radius: 4px;
    z-index: 1;
}

.card div {  /* контейнер */
    position: static;
    color: black;
    text-align: right;
}

.card div div:first-child {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    font-family: 'font2', sans-serif;
    font-size: 45px;
}

.card div div:last-child {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 40px;
    padding-bottom: 10px;
    font-family: 'font2', sans-serif;
    font-size: 30px;
    font-weight: 500;
    z-index: 1;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px rgb(0, 0, 0);
}


.scroll-container::-webkit-scrollbar {
    display: none;
}
