@font-face {
    font-family: 'font1';
    src: url("../fonts/font1.ttf") format("truetype");
    font-family: 'font2';
    src: url("../fonts/font2.ttf") format("truetype");
}

.login-page {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

/* Главный контейнер формы */
.auth-container {
    max-width: 450px;
    width: 100%;
    background: white;
    border: 2px solid black;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.auth-container h1 {
    font-family: 'font2', sans-serif;
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-family: 'font1', sans-serif;
    margin-bottom: 8px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'font1', sans-serif;
}

/* Поле ввода при фокусе */
.form-group input:focus {
    border-color: #ff6ab5;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 22, 138, 0.3);
}

/* Кнопка входа */
.btn-login {
    width: 100%;
    padding: 14px;
    background: #ff6ab5;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'font1', sans-serif;
    color: black;
}

/* Кнопка при наведении */
.btn-login:hover {
    transform: translateY(-5px);
    box-shadow: 4px 4px rgb(0, 0, 0);
}


.error {
    background: #ffe0e0;
    color: red;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'font1', sans-serif;
    font-size: 14px;
    display: none;
}

.link {
    text-align: center;
    margin-top: 25px;
    font-family: 'font1', sans-serif;
    font-size: 14px;
}

.link a {
    color: #ff6ab5;
    text-decoration: none;
    transition: color 0.2s;
}

.link a:hover {
    color: #e8559e;
    text-decoration: underline;
}
